@using StudentDormitoryManagementSystem.Models
@using StudentDormitoryManagementSystem.Common
@model ItemViewModel

@using (Ajax.BeginForm("UpdateProduct", "MyInventory", ajaxOptions: new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "result" }))
{
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.ItemCategory.CategoryName)
    @Html.HiddenFor(x => x.DateRegistered)
    @Html.HiddenFor(x => x.ExpirationDate)
    @Html.HiddenFor(x => x.Room.Number)
    @Html.HiddenFor(x => x.Material)
    @Html.HiddenFor(x => x.Model)
    @Html.HiddenFor(x => x.Size)
    <div class="form-group">
        <label for="exampleInputPassword1">Name</label>
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Description</label>
        @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">State</label>
        @Html.TextBoxFor(x => x.State, new { @class = "form-control" })
    </div>
    if (User.Identity.Name == Constants.AdminEmail)
    {
        <span style="color:red;">Only admin access!</span>
        <div class="form-group">
            <label for="exampleInputPassword1">Category</label>
            @Html.TextBoxFor(x => x.ItemCategory.CategoryName, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Material</label>
            @Html.TextBoxFor(x => x.Material, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Model</label>
            @Html.TextBoxFor(x => x.Model, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Size</label>
            @Html.TextBoxFor(x => x.Size, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Move item to room</label>
            @Html.TextBoxFor(x => x.Room.Number, new { @class = "form-control" })
        </div>
    }

    <button type="submit" class="btn btn-default">Submit</button>
}

<div id="result"></div>