@using Microsoft.AspNet.Identity
@using Constants = StudentDormitoryManagementSystem.Common.Constants
@{
    bool haveProblems = ViewBag.HaveProblems ?? false;
}
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            @if (User.Identity.Name == Constants.AdminEmail)
            {
                <li>
                    <a href="@Url.Action("GetCurrentBreakdowns","Breakdowns", new { Area = "Admin" })" class="btn" id="warningButton">
                        @if (haveProblems)
                        {
                        <span class="glyphicon glyphicon-bell" id="warning" style="font-size:16px;color:yellow;"></span> 
                        }
                        else
                        {
                        <span class="glyphicon glyphicon-bell" style="font-size:16px;color:white;"></span> 
                        }
                        Troubles
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index","AdminItems", new { Area = "Admin" })" class="btn" id="adminButton" style="color:yellow;">
                        <span class="glyphicon glyphicon-user" id="admin"></span> Admin
                    </a>

                </li>
            }
            else if (User.Identity.IsAuthenticated)
            {
                <li>
                    <a href="@Url.Action("Index","Profile", new { Area = "Profile" })" class="btn" id="adminButton" style="color: white;">
                        <span class="glyphicon glyphicon-user" id="admin"></span> Profile (@User.Identity.GetUserName())
                    </a>
                </li>
            }

            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a>Contact admin for creating a registration!</a></li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}