@using StudentDormitoryManagementSystem.Models
@using StudentDormitoryManagementSystem.Common
@model List<BreakdownViewModel>
@{
    ViewBag.Title = "Current breakdowns";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_AdminPanelPartial")
<div class="col-md-8">
    @if (Model.Count > 0)
    {
        <div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]" style="width:1500px;margin-bottom:150px;">
            <ul class="item-list">
                @foreach (var item in Model)
                {
                    <li style="display:block;float:none;">
                        <time>
                            <img src="@Constants.AlertImagePath" style="width:100%;height:100%" />
                        </time>
                        <div class="info">
                            <h2 class="title">@item.Title</h2>
                            <p class="desc">@item.Description</p>
                            <span id="roomNumber" style="background:#ff0000">@item.RoomNumber</span>
                            <span id="sender" style="background:#00ff21">@item.Sender</span>
                            <input class="btnAcknowledge btn btn-default" type="submit" value="---Fixed---" />
                        </div>
                    </li>
                }
            </ul>
        </div>
    }
    else
    {
        <h3>There are no breakdowns at the moment...</h3>
    }
</div>

@Styles.Render("~/Content/css")



